<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Bold_Checkout::paypal" title="Bold Checkout M2 PayPal Integration" translate="title" sortOrder="102"/>
            </resource>
        </resources>
    </acl>
</config>
