<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <checkout>
            <bold_checkout_paypal>
                <flow_id>paypal_branded</flow_id>
                <is_instant_product>1</is_instant_product>
                <instant_for>simple,virtual,downloadable,grouped,configurable,bundle,giftcard</instant_for>
            </bold_checkout_paypal>
        </checkout>
    </default>
</config>
