<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="checkout">
            <group id="bold_checkout_paypal" translate="label" sortOrder="115" showInDefault="1" showInWebsite="1">
                <label>Bold Checkout PayPal Integration</label>
                <field id="is_enabled" translate="label" type="select" sortOrder="10" showInDefault="1"
                       showInWebsite="1">
                    <label>Is PayPal Checkout Flow Enabled?</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <frontend_model>Bold\CheckoutFlowPaypal\Block\System\Config\Form\Field\Disabled</frontend_model>
                    <comment>
                        <![CDATA[The PayPal Checkout Flow replaces all other Bold-hosted checkout flows.
                        Read more about Bold-hosted flows for Adobe Commerce stores in the <a href="https://developer.boldcommerce.com/guides/platform-integration/adobe-commerce/installation">documentation</a>.
                        ]]></comment>
                </field>
                <field id="toggle" translate="label" type="button" sortOrder="20" showInDefault="1" showInWebsite="1">
                    <frontend_model>Bold\CheckoutFlowPaypal\Block\System\Config\Form\Field\Toggle</frontend_model>
                    <comment>
                        <![CDATA[Enable or disable the PayPal Checkout Flow.]]></comment>
                </field>
            </group>
        </section>
    </system>
</config>
