// Colours
@gold: #FFC439;

.action.primary.checkout.paypal {
  background-color: @gold;
  border-top-color: @gold;
  border-left-color: @gold;
  border-right-color: @gold;
  border-bottom-color: @gold;

  span {
    display: inline-flex;
    align-items: center;

    img {
      height: 1em;
    }
  }
}
